body {
  background: #C80A3A;
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  padding: 10% 20%;
}

h1{
  position: relative;
  text-decoration: underline;
  color: white;
  text-shadow: 3px 3px black;
}

button {
  margin-bottom: 20px;
  border: 3px solid black;
  background: #F84782;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

.joke {
  display: flex;
  flex-direction: column;
}

.bubble {
  display: inline-block;
  position: relative;
  padding: 30px 40px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  margin-bottom: 60px;
}

.bubble:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 50px;
  width: 90px;
  border-radius: 0 0 100%;
  box-shadow: -2px -2px 0 0 #000 inset, -23px 0 0 0 #fff inset, -25px -2px 0 0 #000 inset;
}